/**
 * Secretum - Background Colors
 */

.body-bg { background-color: $body-bg !important; }
.body-bg-hover:hover, .body-bg-hover:focus { background-color: $body-bg !important; }

.content-bg { background-color: $content-bg !important; }
.content-bg-hover:hover, .content-bg-hover:focus { background-color: $content-bg !important; }

//.bg-primary { background-color: $primary !important; }
.bg-primary-hover:hover { background-color: $primary !important; }

.bg-primary-light { background-color: $primary-light !important; }
.bg-primary-light-hover:hover { background-color: $primary-light !important; }

.bg-primary-dark { background-color: $primary-dark !important; }
.bg-primary-dark-hover:hover { background-color: $primary-dark !important; }

//.bg-secondary { background-color: $secondary !important; }
.bg-secondary-hover:hover { background-color: $secondary !important; }

.bg-blue { background-color: $blue !important; }
.bg-blue-hover:hover { background-color: $blue !important; }

.bg-indigo { background-color: $indigo !important; }
.bg-indigo-hover:hover { background-color: $indigo !important; }

.bg-purple { background-color: $purple !important; }
.bg-purple-hover:hover { background-color: $purple !important; }

.bg-pink { background-color: $pink !important; }
.bg-pink-hover:hover { background-color: $pink !important; }

.bg-red { background-color: $red !important; }
.bg-red-hover:hover { background-color: $red !important; }

.bg-orange { background-color: $orange !important; }
.bg-orange-hover:hover { background-color: $orange !important; }

.bg-yellow { background-color: $yellow !important; }
.bg-yellow-hover:hover { background-color: $yellow !important; }

.bg-green { background-color: $green !important; }
.bg-green-hover:hover { background-color: $green !important; }

.bg-teal { background-color: $teal !important; }
.bg-teal-hover:hover { background-color: $teal !important; }

.bg-cyan { background-color: $cyan !important; }
.bg-cyan-hover:hover { background-color: $cyan !important; }

//.bg-white { background-color: $white !important; }
.bg-white-hover:hover { background-color: $white !important; }

.bg-whitish { background-color: $whitish !important; }
.bg-whitish-hover:hover { background-color: $whitish !important; }

.bg-black { background-color: $black !important; }
.bg-black-hover:hover { background-color: $black !important; }

.bg-blackish { background-color: $blackish !important; }
.bg-blackish-hover:hover { background-color: $blackish !important; }

.bg-gray { background-color: $gray !important; }
.bg-gray-hover:hover { background-color: $gray !important; }

.bg-gray-100 { background-color: $gray-100 !important; }
.bg-gray-100-hover:hover { background-color: $gray-100 !important; }

.bg-gray-200 { background-color: $gray-200 !important; }
.bg-gray-200-hover:hover { background-color: $gray-200 !important; }

.bg-gray-300 { background-color: $gray-300 !important; }
.bg-gray-300-hover:hover { background-color: $gray-300 !important; }

.bg-gray-400 { background-color: $gray-400 !important; }
.bg-gray-400-hover:hover { background-color: $gray-400 !important; }

.bg-gray-500 { background-color: $gray-500 !important; }
.bg-gray-500-hover:hover { background-color: $gray-500 !important; }

.bg-gray-600 { background-color: $gray-600 !important; }
.bg-gray-600-hover:hover { background-color: $gray-600 !important; }

.bg-gray-700 { background-color: $gray-700 !important; }
.bg-gray-700-hover:hover { background-color: $gray-700 !important; }

.bg-gray-800 { background-color: $gray-800 !important; }
.bg-gray-800-hover:hover { background-color: $gray-800 !important; }

.bg-gray-900 { background-color: $gray-900 !important; }
.bg-gray-900-hover:hover { background-color: $gray-900 !important; }

//.bg-light { background-color: $light !important; }
.bg-light-hover:hover { background-color: $light !important; }

//.bg-dark { background-color: $dark !important; }
.bg-dark-hover:hover { background-color: $dark !important; }
