/**
 * Secretum - Border Colors
 */

.border-line { border-color: $spacer-color !important; }
.border-primary { border-color: $primary !important; }
.border-secondary { border-color: $secondary !important; }
.border-whitish { border-color: $whitish !important; }
.border-black { border-color: $black !important; }
.border-blackish { border-color: $blackish !important; }
.border-blue { border-color: $blue !important; }
.border-indigo { border-color: $indigo !important; }
.border-purple { border-color: $purple !important; }
.border-pink { border-color: $pink !important; }
.border-red { border-color: $red !important; }
.border-orange { border-color: $orange !important; }
.border-yellow { border-color: $yellow !important; }
.border-green { border-color: $green !important; }
.border-teal { border-color: $teal !important; }
.border-cyan { border-color: $cyan !important; }
.border-gray { border-color: $gray !important; }
// Bootstrap Repeats
//.border-white { border-color: $white !important; }
//.border-light { border-color: $light !important; }
//.border-dark { border-color: $dark !important; }
