/**
 * Secretum - Text & Link Colors
 */

.color-text-primary { color: $text-primary !important; }
.color-text-secondary { color: $text-secondary !important; }
.color-spacer { color: $spacer-color !important; }
.color-primary { color: $primary !important; }
.color-primary-light { color: $primary-light !important; }
.color-primary-dark { color: $primary-dark !important; }
.color-secondary { color: $gray-800 !important; }
.color-blue { color: $blue !important; }
.color-indigo { color: $indigo !important; }
.color-purple { color: $purple !important; }
.color-pink { color: $pink !important; }
.color-red { color: $red !important; }
.color-orange { color: $orange !important; }
.color-yellow { color: $yellow !important; }
.color-green { color: $green !important; }
.color-teal { color: $teal !important; }
.color-cyan { color: $cyan !important; }
.color-white { color: $white !important; }
.color-whitish { color: $whitish !important; }
.color-black { color: $black !important; }
.color-blackish { color: $blackish !important; }
.color-gray { color: $gray-600 !important; }
.color-gray-100 { color: $gray-100 !important; }
.color-gray-200 { color: $gray-200 !important; }
.color-gray-300 { color: $gray-300 !important; }
.color-gray-400 { color: $gray-400 !important; }
.color-gray-500 { color: $gray-500 !important; }
.color-gray-600 { color: $gray-600 !important; }
.color-gray-700 { color: $gray-700 !important; }
.color-gray-800 { color: $gray-800 !important; }
.color-gray-900 { color: $gray-900 !important; }
.color-light { color: $gray-100 !important; }
.color-dark { color: $gray-800 !important; }
