/**
 * Secretum - HTML Tags
 */

blockquote {
	margin-left: 0;
	padding: 0 0 0 .75rem;

	> p {
		margin: 0 0 .5rem;

		cite {
			font-weight: bold;
		}
	}

	cite {
		font-weight: bold;
	}
}

dd {
    display: block;
    margin-inline-start: 40px;
}

button,
input,
select,
textarea {
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

table {
  width: 100%;
  margin-bottom: .75rem;

  th,
  td {
    padding: .5rem;
    vertical-align: top;
  }

  thead th {
    vertical-align: bottom;
  }
}


// Pre Blocks
pre {
    color: $text-primary;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;

    // Pre Code Blocks
    code {
        color: $text-primary;
        display: block;
        font-size: 85%;
        line-height: 140%;
        padding: 0 1rem 1rem 1rem;
        white-space: pre;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
    }
}

// Code Blocks
code {
    // Inline Example
    &.code {
        border: none;
        color: $orange;
        display: inline-block;
        padding: 0;
    }

    // Prettify Print WordPress Plugin
    &.prettyprint {
        color: $text-primary;

        &.onyx {
            background: $gray-900;
            border: 1px solid $blackish;
            color: $whitish;

            .str { color: #EC7600; }
            .kwd { color: #93C763; }
            .com { color: #66747B; }
            .typ { color: #678CB1; }
            .lit { color: #FACD22; }
            .pun { color: #F1F2F3; }
            .pln { color: #F1F2F3; }
            .tag { color: #8AC763; }
            .atn { color: #E0E2E4; }
            .atv { color: #EC7600; }
            .dec { color: $purple; }
        }

        ol.linenums {
            margin-top: 0;
            margin-bottom: 0;
        }

        li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
            color: $gray-900;
            list-style-type: decimal;
        }

        li.L1, li.L3, li.L5, li.L7, li.L9 {
            background: $blackish;
        }
    }
}