/**
 * Secretum - Link Colors
 */

a.color-black-50 { color: color: rgba($black, .5) !important; !important; }
a.color-black-50:hover { color: color: rgba($blackish, .5) !important; !important; }
.color-black-50 a { color: color: rgba($black, .5) !important; !important; }
.color-black-50 a:hover { color: color: rgba($blackish, .5) !important; !important; }

a.color-white-50 { color: color: rgba($white, .5) !important; !important; }
a.color-white-50:hover { color: color: rgba($whitish, .5) !important; !important; }
.color-white-50 a { color: color: rgba($white, .5) !important; !important; }
.color-white-50 a:hover { color: color: rgba($whitish, .5) !important; !important; }

a.color-link { color: $link-color !important; }
a.color-link-hover:hover { color: $link-hover-color !important; }
.color-link a { color: $link-color !important; }
.color-link-hover a:hover { color: $link-hover-color !important; }

a.color-primary-link { color: $primary !important; }
a.color-primary-hover:hover { color: $primary !important; }
.color-primary-link a { color: $primary !important; }
.color-primary-hover a:hover { color: $primary !important; }

a.color-primary-light-link { color: $primary-light !important; }
a.color-primary-light-hover:hover { color: $primary-light !important; }
.color-primary-light-link a { color: $primary-light !important; }
.color-primary-light-hover a:hover { color: $primary-light !important; }

a.color-primary-dark-link { color: $primary-dark !important; }
a.color-primary-dark-hover:hover { color: $primary-dark !important; }
.color-primary-dark-link a { color: $primary-dark !important; }
.color-primary-dark-hover a:hover { color: $primary-dark !important; }

a.color-secondary-link { color: $gray-800 !important; }
a.color-secondary-hover:hover { color: $gray-800 !important; }
.color-secondary-link a { color: $gray-800 !important; }
.color-secondary-hover a:hover { color: $gray-800 !important; }

a.color-blue-link { color: $blue !important; }
a.color-blue-hover:hover { color: $blue !important; }
.color-blue-link a { color: $blue !important; }
.color-blue-hover a:hover { color: $blue !important; }

a.color-indigo-link { color: $indigo !important; }
a.color-indigo-hover:hover { color: $indigo !important; }
.color-indigo-link a { color: $indigo !important; }
.color-indigo-hover a:hover { color: $indigo !important; }

a.color-purple-link { color: $purple !important; }
a.color-purple-hover:hover { color: $purple !important; }
.color-purple-link a { color: $purple !important; }
.color-purple-hover a:hover { color: $purple !important; }

a.color-pink-link { color: $pink !important; }
a.color-pink-hover:hover { color: $pink !important; }
.color-pink-link a { color: $pink !important; }
.color-pink-hover a:hover { color: $pink !important; }

a.color-red-link { color: $red !important; }
a.color-red-hover:hover { color: $red !important; }
.color-red-link a { color: $red !important; }
.color-red-hover a:hover { color: $red !important; }

a.color-orange-link { color: $orange !important; }
a.color-orange-hover:hover { color: $orange !important; }
.color-orange-link a { color: $orange !important; }
.color-orange-hover a:hover { color: $orange !important; }

a.color-yellow-link { color: $yellow !important; }
a.color-yellow-hover:hover { color: $yellow !important; }
.color-yellow-link a { color: $yellow !important; }
.color-yellow-hover a:hover { color: $yellow !important; }

a.color-green-link { color: $green !important; }
a.color-green-hover:hover { color: $green !important; }
.color-green-link a { color: $green !important; }
.color-green-hover a:hover { color: $green !important; }

a.color-teal-link { color: $teal !important; }
a.color-teal-hover:hover { color: $teal !important; }
.color-teal-link a { color: $teal !important; }
.color-teal-hover a:hover { color: $teal !important; }

a.color-cyan-link { color: $cyan !important; }
a.color-cyan-hover:hover { color: $cyan !important; }
.color-cyan-link a { color: $cyan !important; }
.color-cyan-hover a:hover { color: $cyan !important; }

a.color-white-link { color: $white !important; }
a.color-white-hover:hover { color: $white !important; }
.color-white-link a { color: $white !important; }
.color-white-hover a:hover { color: $white !important; }

a.color-whitish-link { color: $whitish !important; }
a.color-whitish-hover:hover { color: $whitish !important; }
.color-whitish-link a { color: $whitish !important; }
.color-whitish-hover a:hover { color: $whitish !important; }

a.color-black-link { color: $black !important; }
a.color-black-hover:hover { color: $black !important; }
.color-black-link a { color: $black !important; }
.color-black-hover a:hover { color: $black !important; }

a.color-blackish-link { color: $blackish !important; }
a.color-blackish-hover:hover { color: $blackish !important; }
.color-blackish-link a { color: $blackish !important; }
.color-blackish-hover a:hover { color: $blackish !important; }

a.color-gray-link { color: $gray-600 !important; }
a.color-gray-hover:hover { color: $gray-600 !important; }
.color-gray-link a { color: $gray-600 !important; }
.color-gray-hover a:hover { color: $gray-600 !important; }

a.color-gray-100-link { color: $gray-100 !important; }
a.color-gray-100-hover:hover { color: $gray-100 !important; }
.color-gray-100-link a { color: $gray-100 !important; }
.color-gray-100-hover a:hover { color: $gray-100 !important; }

a.color-gray-200-link { color: $gray-200 !important; }
a.color-gray-200-hover:hover { color: $gray-200 !important; }
.color-gray-200-link a { color: $gray-200 !important; }
.color-gray-200-hover a:hover { color: $gray-200 !important; }

a.color-gray-300-link { color: $gray-300 !important; }
a.color-gray-300-hover:hover { color: $gray-300 !important; }
.color-gray-300-link a { color: $gray-300 !important; }
.color-gray-300-hover a:hover { color: $gray-300 !important; }

a.color-gray-400-link { color: $gray-400 !important; }
a.color-gray-400-hover:hover { color: $gray-400 !important; }
.color-gray-400-link a { color: $gray-400 !important; }
.color-gray-400-hover a:hover { color: $gray-400 !important; }

a.color-gray-500-link { color: $gray-500 !important; }
a.color-gray-500-hover:hover { color: $gray-500 !important; }
.color-gray-500-link a { color: $gray-500 !important; }
.color-gray-500-hover a:hover { color: $gray-500 !important; }

a.color-gray-600-link { color: $gray-600 !important; }
a.color-gray-600-hover:hover { color: $gray-600 !important; }
.color-gray-600-link a { color: $gray-600 !important; }
.color-gray-600-hover a:hover { color: $gray-600 !important; }

a.color-gray-700-link { color: $gray-700 !important; }
a.color-gray-700-hover:hover { color: $gray-700 !important; }
.color-gray-700-link a { color: $gray-700 !important; }
.color-gray-700-hover a:hover { color: $gray-700 !important; }

a.color-gray-800-link { color: $gray-800 !important; }
a.color-gray-800-hover:hover { color: $gray-800 !important; }
.color-gray-800-link a { color: $gray-800 !important; }
.color-gray-800-hover a:hover { color: $gray-800 !important; }

a.color-gray-900-link { color: $gray-900 !important; }
a.color-gray-900-hover:hover { color: $gray-900 !important; }
.color-gray-900-link a { color: $gray-900 !important; }
.color-gray-900-hover a:hover { color: $gray-900 !important; }

a.color-light-link { color: $gray-100 !important; }
a.color-light-hover:hover { color: $gray-100 !important; }
.color-light-link a { color: $gray-100 !important; }
.color-light-hover a:hover { color: $gray-100 !important; }

a.color-dark-link { color: $gray-800 !important; }
a.color-dark-hover:hover { color: $gray-800 !important; }
.color-dark-link a { color: $gray-800 !important; }
.color-dark-hover a:hover { color: $gray-800 !important; }
