*~
*.db
*.log
*.tgz
*.zip

.git
.sass-cache
.svn
.sync
.Trash
.Trash-*

access_log
config.rb
error_log
phpunit.xml
readme.html
README.html
.INSTRUCTIONS
CONTRIBUTING.md

assets/*
node_modules/*
psds/*

composer.json
composer.lock

stage.sh
styles.sh
sync.sh