*~
.db
.log
.git
.sass-cache
.svn
.sync
.Trash
.Trash-*

readme.html
README.html
CONTRIBUTING.md
TODO.md
stage.sh
.copy-config

composer.lock
package-lock.json
node_modules/*
inc/assets/vendors
psds/*
woocommerce-bookings/*