*~
.db
.log
.git
.sass-cache
.svn
.sync
.Trash
.Trash-*

access_log
error_log
config.rb
phpunit.xml
readme.html
README.html
composer.phar
CONTRIBUTING.md
TODO.md
stage.sh

node_modules/*
vendor/*
assets/*
psds/*