/**
 * Secretum - Breadcrumbs
 */

.breadcrumbs {
	color: $secondary-text-color;

	a:link,
	a:active,
	a:visited,
	a:hover {
		color: $secondary-text-color;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}

.entry-content .breadcrumbs {
	padding: 2rem 0;
	text-align: right;
}
