/**
 * Secretum - Featured Image
 */

.featured-image-header {
	img {
	    height: auto;
	    max-width: 100%;
	    text-align: center;
	}

    //.attachment-secretum-featured-image {}

    //.size-secretum-featured-image {}

    //img.wp-post-image {}
}
