/**
 * Secretum Theme - Website Footer Area
 */

.footer {
    position: relative;

    a:link {
        text-decoration: none;
    }
    a:active {}
    a:visited {}
    a:hover {
        text-decoration: underline;
    }
}
