/**
 * Secretum - Website Header Area
 */

.header {
    position: relative;

    a.navbar-brand,
    .navbar-brand a:link {
        height: auto !important;
        padding: 0;
        margin: 0;
        max-width: 100%;
        text-decoration: none;
    }

    .navbar-brand img {
        width: 100%;
    }

    .site-description {
        margin: 0;
        padding: 0;
    }
}
