/**
 * Secretum Child Theme Styles
 * @domain daytonabeachpropertysearch.com
 */

.header {
    // Text Brand Logo
    .navbar-brand {
        font-family: "Oswald", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-size: 2.1rem;
        line-height: 1;
        margin: 0 0 .5rem;

        a:link,
        a:active,
        a:visited {
            color: $primary-brand-color;
        }
        a:hover {
            color: $primary-brand-color-dark;
        }
    }

    // Text Brand Logo
    a.navbar-brand:link,
    a.navbar-brand:active,
    a.navbar-brand:visited {
        color: $primary-brand-color;
    }
    a.navbar-brand:hover {
        color: $primary-brand-color-dark;
    }
}

.navbar {
    .divider {
        width: 0;
    }

    .navbar-nav.primary .nav-link {
        font-family: "Oswald", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    }

    .navbar-nav.primary a.nav-link {
        display: block;
        font-family: "Oswald", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-size: 1.1rem;
        text-transform: none;
        width: 100%;

        &:hover {
            background-color: $primary-brand-color-dark;
        }
    }
}

.frontpage-billboard {
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100px;
    overflow: hidden;
    position: relative;
}
