/**
 * Secretum Theme & Boostrap 4 Variables
 * @domain daytonabeachpropertysearch.com
 */



$primary: 					#317beb;
$secondary: 				#317beb;

/**
 * Primary & Secondary Colors
 */
$primary-brand-color: 		#317beb;
$primary-brand-color-dark: 	#316ceb;
$primary-brand-color-light: #318beb;

$secondary-brand-color: 	#317beb;

$primary-spacer-color: 		#bdbdbd;

$primary-text-color: 		#777777;
$secondary-text-color: 		#444444;
