/**
 * Secretum Theme Color Scheme
 *
 * Primary Color: Bright Blue Primary
 * Secondary Color: Bright Orange Secondary
 */

// Primary Colors
$primary: 					#1a6ce9;
$primary-brand-color: 		$primary;
$primary-brand-color-dark: 	#316ceb;
$primary-brand-color-light: #488aed;
$primary-spacer-color: 		#949aa0;
$primary-text-color: 		#fcfcfc;

// Secondary Colors
$secondary: 				#eba131;
$secondary-brand-color: 	$secondary;
$secondary-text-color: 		#060707;

// Color Shades
$white:     				#fcfcfc;
$gray-100: 					#bec1c5;
$gray-200: 					#b3b7bc;
$gray-300: 					#a9aeb2;
$gray-400: 					#9ea4a9;
$gray-500: 					#949aa0;
$gray-600: 					#8a9097;
$gray-700: 					#7f868e;
$gray-800: 					#757d84;
$gray-900: 					#6c737a;
$black:    					#060707;

 // Override Colors
$blue:    					#1976d2;
$indigo:  					#536dfe;
$purple:  					#7b1fa2;
$pink:    					#ff4081;
$red:     					#d32f2f;
$orange:  					#ff5722;
$yellow:  					#fbc02d;
$green:   					#28a745;
$teal:    					#00796b;
$cyan:    					#0097A7;
$success: 					$green;
$info: 						$cyan;
$warning: 					$yellow;
$danger: 					$red;
$light: 					$gray-200;
$dark: 						$gray-700;

// New Colors
$whiteish:  				#f2f2f3;
$blackish: 					#101112;

// Background Colors
$body-bg: 					$white;
$content-bg: 				$whiteish;

// Bootstrap Vars Text Colors
$body-color: 				$blackish;
$body-color-dark: 			$black;
$body-color-light: 			$gray-900;

// Link Color and Decor
$link-color: 				$gray-900;
$link-decoration: 			underline;
$link-hover-color: 			$gray-700;
$link-hover-decoration: 	none;

// FontAwesome Font Path
$fa-font-path:        "../../fonts";