/**
 * Secretum Theme & Boostrap 4 Variables
 * @domain escapematthews.com
 */


/**
 * Primary & Secondary Colors
 */
$primary-brand-color: #006699;
$primary-brand-color-dark: #003366;
$primary-brand-color-light: #0099cc;

$secondary-brand-color: #420746;

$primary-spacer-color: #bdbdbd;

$primary-text-color: #1e1d23;
$secondary-text-color: #3f3f3f;
