/**
 * Secretum - Required Alignments
 */

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

img.alignleft {
    float: left;
    @include clearfix();
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

img.alignright {
    float: right;
    @include clearfix();
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    &::after {
		display: block;
		clear: both;
		content: "";
	}
}

img.aligncenter {
    display: block;
    margin: auto;
}
