/**
 * Secretum Theme Color Scheme
 *
 * Primary Color: Vivid blue
 * Secondary Color: Light grayish blue
 */

// Options
$enable-caret:                      true !default;
$enable-rounded:                    true !default;
$enable-shadows:                    true !default;
$enable-gradients:                  true !default;
$enable-transitions:                true !default;
$enable-print-styles:               true !default;
$enable-grid-classes:               true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-responsive-font-sizes:      false !default;
$enable-validation-icons:           true !default;
$enable-deprecation-messages:       false !default;

// Color Shades
$white:     						#ffffff !default;
$gray: 								#434a54 !default;
$gray-100: 							#f8f9fa !default;
$gray-200: 							#e9ecef !default;
$gray-300: 							#dee2e6 !default;
$gray-400: 							#ced4da !default;
$gray-500: 							#adb5bd !default;
$gray-600: 							#6c757d !default;
$gray-700: 							#495057 !default;
$gray-800: 							#343a40 !default;
$gray-900: 							#212529 !default;
$black:    							#000000 !default;

 // Color Names
$blue: 								#5e50f9 !default;
$indigo: 							#6610f2 !default;
$purple: 							#6f42c1 !default;
$pink: 								#e91e63 !default;
$red: 								#f96868 !default;
$orange: 							#f2a654 !default;
$yellow: 							#f6e84e !default;
$green: 							#46c35f !default;
$teal: 								#58d8a3 !default;
$cyan: 								#57c7d4 !default;
$success: 							#47a447 !default;
$info: 								#5bc0de !default;
$warning: 							#ed9c28 !default;
$danger: 							#d53f3a !default;

// Color Themes
$light: 							#ffffff !default;
$dark: 								#0d0d0d !default;

// Primary Colors
$primary: 							#3399cc !default;
$primary-brand-color: 				$primary !default;
$primary-brand-color-dark: 			#006699 !default;
$primary-brand-color-light: 		#66ccff !default;

// Secondary Colors
$secondary: 						#cc3333 !default;
$secondary-brand-color: 			#ff3333 !default;
$secondary-text-color: 				$white !default;

// Text Colors
$primary-text-color: 				#c2c2c2 !default;
$body-color: 						$primary-text-color !default;
$body-color-dark: 					darken($primary-text-color, 5%) !default;
$body-color-light: 					lighten($primary-text-color, 5%) !default;

// Spacers, Lines, Borders
$primary-spacer-color: 				$gray-600 !default;

// New Colors
$whitish:  							#f7f7f3 !default;
$blackish: 							#2e2f32 !default;

// Background Colors - Bootstrap
$body-bg: 							#2e2f32 !default;
$content-bg: 						#191c20 !default;

// Link Color and Decor
$link-color: 						$whitish !default;
$link-decoration: 					underline !default;
$link-hover-color: 					$gray-600 !default;
$link-hover-decoration: 			none !default;

// Header Hamburger Menu
$header-navbar-hamburger-color: 	$gray-500 !default;

// Navmenu Dropdown Hover Color
$dropdown-link-hover-bg:            transparent !default;

// Content Entry Heading Sizes
$h1-font-size: 						2.2rem !default;
$h2-font-size: 						1.75rem !default;
$h3-font-size: 						1.5rem !default;
$h4-font-size: 						1.25rem !default;
$h5-font-size: 						1.15rem !default;
$h6-font-size: 						1rem !default;

// Scroll To Top Icon
$scrolltop-bg-color: 				$gray-800 !default;
$scrolltop-bg-hover-color: 			$link-hover-color !default;

// Primary Button
$primary-button-bg-color: 			$primary-brand-color !default;
$primary-button-bg-hover-color: 	$primary-brand-color-dark !default;
$primary-button-border-color: 		$primary-brand-color !default;
$primary-button-text-color: 		$white !default;

// Secondary Button
$secondary-button-bg-color: 		$primary-spacer-color !default;
$secondary-button-bg-hover-color: 	$primary-brand-color-dark !default;
$secondary-button-border-color: 	$primary-spacer-color !default;
$secondary-button-text-color: 		$white !default;

// Search Button
$search-button-bg-color: 			$primary-brand-color !default;
$search-button-bg-hover-color: 		$primary-brand-color-dark !default;
$search-button-border-color: 		$primary-brand-color !default;
$search-button-text-color: 			$white !default;

// Sidebar Area Titles
$sidebar-widget-li-line-color: 		$primary-spacer-color !default;

// Footer Widget Titles
$footer-widget-li-line-color: 		$primary-spacer-color !default;

// WooCommerce Bookings Calendar
$calendar-primary-bg-color: 		$black !default;
$calendar-secondary-bg-color: 		$content-bg !default;
$calendar-border-color: 			$gray-800 !default;

// Pagination
$pagination-color:                  $link-color !default;
$pagination-bg:                     $content-bg !default;
$pagination-border-color:           $primary-spacer-color !default;
$pagination-hover-color:            $link-hover-color !default;
$pagination-hover-bg:               $gray-900;
$pagination-hover-border-color:     $gray-500;
$pagination-active-color:           $secondary !default;
$pagination-active-bg:              $gray-800 !default;
$pagination-active-border-color:    $gray-900 !default;
$pagination-disabled-color:         $primary-spacer-color !default;
$pagination-disabled-bg:            $blackish !default;
$pagination-disabled-border-color:  $content-bg !default;

// WP Widget - Calendar
$wp-calendar-heading-bg-color:      $blackish !default;
$wp-calendar-heading-text-color:    $whitish !default;
$wp-calendar-cell-bg-color:         $content-bg !default;
$wp-calendar-cell-text-color:       $primary-text-color;
$wp-calendar-td-hover:              $gray-800 !default;
$wp-calendar-link-color:            $whitish !default;
$wp-calendar-link-hover-color:      $white !default;
$wp-calendar-border-color:          $primary-spacer-color !default;

// Cards
$card-border-color:                 rgba($gray-600, .5) !default;
$card-cap-bg:                       rgba($gray-600, .5) !default;
$card-cap-color:                    null !default;
$card-color:                        null !default;
$card-bg:                           $blackish !default;